@import '@duik/core/_vars.scss';

.signup-card-container {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;

  &>* {
    flex-basis: calc(33% - 7.5px);
  }
}

.signup-card-container {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;

  &>* {
    flex-basis: calc(33% - 7.5px);
  }
}